.img-no-display {
  display: none;
}

#galaxy {
  width: 200px;
}

.body {
  display: block;
  position: relative;
  margin: 0;
}

.body::after {
  content: "";
  background: url(img/header.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: gray;
  position: absolute;
  background-position: center;
  top: 0%;
  width: 100%;
  right: .1%;
  opacity: .6;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topnav a {
  display: inline;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'VT323', monospace;
  letter-spacing: 5px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.canvas-size{
  text-align: center;
  z-index: 10;
  padding-bottom: 10px;
}

input {
  position: relative;
  color: black;
  display: inline-block;
  left: 40%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

button {
  position: relative;
  color: black;
  display: inline-block;
  left: 40%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

button:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  background:#53a7ea;
}

.userName {
  position: relative;
  color: white;
  display: inline-block;
  position: relative;
  left: 40%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.howto {
  text-align: center;
  position: relative;
}

.welcome {
  font-family: 'Barlow Condensed', sans-serif;
  text-shadow: 1px 1px #000;
  font-size: 40px;
  padding-top: 50px;
  margin: 0%;
}

.controls {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.name {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}
