body {
  padding: 0;
  margin: 0;
}

.img-no-display {
  display: none;
}

.mainheader {
  background-image: url(img/hikingheader.jpg);
  background-position: center;
  margin-bottom: 8px;
  padding: 30%;
  background-size:cover;
  position: relative;
}

.topnav {
  overflow: hidden;
  background-color: #F8F8FF;
  position: fixed;
  background-position: center;
  top: 0%;
  width: 100%;
  right: .1%;
  opacity: 0.7;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topnav a {
  display: inline;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 5px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.h6main {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  color: #F9F2BA;
  letter-spacing: 10px;
  font-weight: bold;
}

input {
  overflow: hidden;
  background-position: center;
  position: fixed;
  top: 0%;
  left: 90%;
  z-index: 10;
  color: black;
  font-family: cursive;
  margin: 0;
}

.canvas-size{
  padding-left: 10%;
  padding-top: 100px;
}

button{
  overflow: hidden;
  background-position: center;
  position: fixed;
  top: 27px;
  left: 90%;
  z-index: 10;
  color: black;
  font-family: cursive;
  margin: 0;
}

.profile-info{
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
  color: black;
  font-size: 20px;
  text-align: center;
}

.about-border{
  border-top: 2px solid rgba(0, 0, 0, .2);
}

.footer-class {
  padding-bottom: 150px;
}
