body {
  padding: 0;
  margin: 0;
}

.img-no-display {
  display: none;
}

.topnav{
  overflow: hidden;
  background-position: center;
  position: fixed;
  top: 0%;
  width: 100%;
  right: .1%;
  z-index: 10;
  color: black;
  font-family: cursive;
  display: inline;
}

.topnav a:hover{
  background-color: green;
  color: black;


}
input {
  overflow: hidden;
  background-position: center;
  position: fixed;
  top: 0%;
  left: 90%;
  z-index: 10;
  color: black;
  font-family: cursive;
  margin: 0;
}

.canvas-size{
  padding-left: 10%;
  padding-top: 100px;
}

button{
  overflow: hidden;
  background-position: center;
  position: fixed;
  top: 27px;
  left: 90%;
  z-index: 10;
  color: black;
  font-family: cursive;
  margin: 0;
}

.profile-info{
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
  color: black;
  font-size: 20px;
  text-align: center;
}

.about-border{
  border-top: 2px solid rgba(0, 0, 0, .2);
}

.footer-class {
  padding-bottom: 150px;
}
